{% for article in articles %}
    <div>
        <i class="ion-quote"></i>
        <p> {{ article.libelle }} "</p>
        <div class="user">
        <img src={{article.lienimage ? article.lienimage : "" }} alt="photo de l'article">
        <p><span> {{ article.auteur }} </span> {{ article.titre }} </p>
        </div>
    </div>
{% endfor %}